<h2>Profile</h2>

<div class="profile-row">
    {{#if user.avatar}}
    <img src="/{{user.avatar}}" alt="avatar" class="avatar">
    {{else}}
    <p class="no-avatar">No avatar</p>
    {{/if}}

    <form class="profile-form" action='/profile/edit' method="POST" enctype="multipart/form-data">
        <div class="row">

            {{#if profileError}}
            <div class="login-error">{{profileError}}</div>
            {{/if}}

            <div class="row">
                <div class="input-field col s10">
                    <input id="name" name="name" type="text" class="validate" value="{{user.name}}">
                    <label class="active" for="name">Name</label>
                    <span class="helper-text" data-error="Enter name"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s10">
                    <p class="label">Avatar:</p>
                    <input id="avatar" name="avatar" type="file">
                </div>
            </div>

        </div>

        <input name="_csrf" value={{csrfToken}} type='hidden'>

        <button class="btn waves-effect waves-light" type="submit">Edit</button>

    </form>
</div>